  <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2 class="post-title" >Howdie !!!</h2>
                <hr>
                <p>
                    Selamat datang di website ini
                    website ini merupakan direktori github yang di jadikan website
                    ada pun isinya merupakan hasil dari data user yang menggunakan
                    website ini di kembangkan dari ABJ openmind-repo 
                    dan selain itu website memuat project openmind yang ada di github
                    
                </p>
            </div>
        </div>
    </div>

    <hr>